body {
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#home {
    background-color: #0f0e17;
}

#nav-menu {
    background-color: #0f0e17;
    position: fixed;
    width: 100%;
    z-index: 101;
    /* border:2px solid red; */
}

.navbar h2 {
    color: #ff8906;
    font-weight: bold;
}


.navbar-nav li a {
    margin-left: 20px;
    color: #a7a9be;
    /* border:2px solid green; */
}





.name {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    color: white;
    padding-top: 100px;
}

.name>div:nth-child(1) {
    width: 35%;
}

.name>div:nth-child(1)>img {
    width: 300px;
    border-radius: 50px;
    

}

.name>div:nth-child(2) {
    width: 60%;
}

.name img {
    width: 300px;
}

.name h1 {
    color: #ff8906;
    font-weight: bold;
    font-size: 45px;
}

.name span {
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

.name a {
    font-size: 30px;
    color: gray;
}

.resume-btn {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.resume-btn .btn {
    border: 1px solid #ff8906;
    padding: 10px 35px;
}


.resume-btn a button {
    color: white;
    font-size: 17px;
}

.resume-btn button:hover {
    background-color: #ff8906;
    color: white;
}
#resume-button-2{
    display: block;
    width: 20rem;
    border:.2rem solid #ff8906;
    height:2rem;
    padding-top: .5rem;
    padding-bottom:3.5rem;
    border-radius: 2rem;
    
}
#resume-button-2:hover{
    background-color: #7cc1cc;
}
#resume-button{
    display: block;
    width: 20rem;
    border:.2rem solid #ff8906;
    height:2rem;
    padding-top: .5rem;
    padding-bottom:3.5rem;
    border-radius: 2rem;
}
#resume-button:hover{
    background-color: #7cc1cc;
}
#skill {
    text-align: left;
}

.skills {
    width: 100%;
    color: black;
    text-align: center;
}

.skills>div:nth-child(1) {
    margin-top: 70px;
    margin-bottom: 30px;
}

.skills h1 {
    font-weight: bold;
}

.skills>div:nth-child(2) {
    width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.skills img {
    width: 100px;
}

#about {
    width: 100%;
    padding: 50px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background-color: #0f0e17;
    color: white;
}

#about>div:nth-child(2) {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#about h2 {
    color: #ff8906;
    font-weight: bolder;
}

#about-section-info {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#about p {
    font-size: 18px;
}

#about-section-info>div {
    background-color: white;
    color: #0f0e17;
    padding: 50px 40px;
    border-radius: 20px;
}

#about-section-info>div span {
    font-weight: bolder;
}

#projects {
    width: 100%;
    margin: auto;
    padding: 50px;
    text-align: center;
    gap:30px;
    
    
}

#projects h2 {
    text-align: center;
    font-weight: bolder;
    color: black;
    margin-bottom: 20px;
}

#projects p {
    text-align: center;
    /* width:90%; */
}

#projects>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px
}

#projects>div:nth-child(2)>div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    color: black;
}

#projects>div:nth-child(2) a {
    color: black;
    font-size: 23px;
}

#projects div:nth-child(2)>div>img {
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 20px;

}

#projects h3 {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff8906;
    border-radius: 50px;
    padding: 5px;
}


/* .github {
    width: 100%;
    margin: auto;
    background-color: #0f0e17;
    padding: 40px;
    border:2px solid red;
}
.github>div:nth-child(2) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-top: 25px;
    border:2px solid red;
}
.github>div:nth-child(1) {
    text-align: center;
    color: #ff8906;
    font-weight: bolder;
    
} */

/* .github>div:nth-child(2)>div>p>img{
    width:80%;
    height:30vh;
    column-gap: 10px;
    margin-top: 25px;
} */




/* real */


/* .github {
    width: 100%;
    margin: auto;
    background-color: #0f0e17;
    padding: 40px;
}
.github > div:nth-child(2) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 25px;
}
.github > div:nth-child(1) {
    text-align: center;
    color: #ff8906;
    font-weight: bold;
} */

/* real */


.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: black;
    padding: 40px;
}

.github > div:nth-child(2) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 25px;
    justify-content: space-evenly;
    margin-left:20px;
    /* border:2px solid red; */
}

.github > div:nth-child(1) {
    text-align: center;
    color: #ff8906;
    font-weight: bold;
}

.github > div:nth-child(2) img {
    max-width: 100%;
}

.github > div:nth-child(3) {
    width: 100%;
    /* padding-left:100px; */
}






.contacts-section {
    width: 100%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts-section h3 {
    font-weight: bolder;
    text-align: center;

}

.contacts-section>div:nth-child(1) {
    width: 30%;
    margin: auto;
    text-align: center;
    /* align-items: center; */


}

.contacts-section>div:nth-child(2) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20x;
    color: #0f0e17;
    padding: 40px;
}

.contacts-section>div:nth-child(2)>div:nth-child(1) {
    width: 95%;
    text-align: left;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 13px;
    background-color: #0f0e17;
    color: white;
    padding-left: 30px;

}

/* #new {
    font-size: 50;
    
} */



.contacts-section>div:nth-child(2)>div:nth-child(2) {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    width: 95%;
}

.contacts-section>div:nth-child(2)>div:nth-child(2) input {
    outline: none;
    width: 250px;
}

.contacts-section>div:nth-child(2)>div:nth-child(2) input::placeholder {
    text-align: center;
}

.contacts-section>div:nth-child(2)>div:nth-child(2) input[type="submit"] {
    border: none;
    color: #ff8906;
    background-color: white;
    border: 1px solid #ff8906;
}

.contacts-section>div:nth-child(2)>div:nth-child(2) input[type="submit"]:hover {
    background-color: #ff8906;
    color: white;
}

.contacts-section>div:nth-child(2)>div:nth-child(2) input[type="text"] {
    height: 100px;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0f0e17;
    padding: 7px;
}

/* @media (min-width:100px) and (max-width:815px)
{
    .name
    {
        display: inline-block;
    }
    .name>div:nth-child(1)
    {
        margin-left: 230px;
    }
    .name>div:nth-child(2)
    {
        margin-left: 150px;
        margin-top: 20px;
    }
    #about-section-info
    {
        width: 100%;
        margin-left: 10px;
    }
    #about-section-info>div{
        padding: 20px 30px;
    }
} */


@media only screen and (max-width: 600px) {
    #nav-menu {
        position: static;
    }

    .navbar-nav li a {
        margin: 10px 0;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .contacts-section>div:nth-child(2) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding: 20px;
    }

    .contacts-section>div:nth-child(2)>div:nth-child(1),
    .contacts-section>div:nth-child(2)>div:nth-child(2) {
        width: 100%;
    }

    .github>div:nth-child(2) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    #projects>div:nth-child(2) {
        grid-template-columns: repeat(1, 1fr);
    }
    /* #about-section-info
    {
        width: 100%;
        margin-left: 10px;
    }
    #about-section-info>div{
        padding: 20px 30px;
    } */

}

@media only screen and (max-width: 600px) {
    #about {
      padding: 30px;
    }
    
    #about>div:nth-child(2) {
      width: 100%;
    }
  
    #about-section-info {
      width: 100%;
      display: block;
    }
  
    #about-section-info>div {
      margin-bottom: 30px;
      padding: 30px 20px;
    }
  }
  @media (max-width: 767px) {
    .skills>div:nth-child(2) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Mobile Devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
    .name {
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .name>div:nth-child(1) {
      width: 60%;
    }
    .name>div:nth-child(1)>img, .name img {
      width: 200px;
      border-radius: 50%;
    }
    .name>div:nth-child(2) {
      width: 90%;
      margin-top: 20px;
      text-align: center;
    }
    .name h1 {
      font-size: 30px;
      margin-top: 20px;
    }
    .name span {
      font-size: 16px;
    }
    .name a {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .github {
      padding: 20px;
    }
  
    .github>div:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* width: 60%; */

    }
  
    .github>div:nth-child(2)>div {
      width: 80%;
      margin-bottom: 20px;
    }
   
.github>div:nth-child(2)>div >img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    margin-top: 25px;
    /* border:2px solid red; */

}

.github>div:nth-child(2)>div >p> img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    margin-top: 25px;
    /* border:2px solid red; */

}
.github>div:nth-child(3)>div >img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    margin-top: 25px;
    /* border:2px solid red; */

}

#githubclaenders {
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    column-gap: 10px;   
    /* margin-top: 25px; */
    /* border:2px solid red; */
    /* padding-left:120px; */

}
  }
  
  /* .calender{
    width:50%;
    border:2px solid red;
}
    */

    
#githubclaenders {
    width: 80%;
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    column-gap: 10px;
    margin-top: 25px;
    /* border:2px solid red; */
    /* padding-left:120px; */

}   


/* @media (max-width: 767px) {
    .typing-svg span {
      font-size: 60px;
      line-height: 180px;
    }
  } */